@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
background-color: rgb(32, 155, 114);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.TituloUno{
text-align: center;    
font-size: 50px;
font-family:'Lora', serif;
color: white;
margin-top: 65px;
}
#letra_inicio{
color:white;
font-family: 'lobster', cursive;
}
#letra_registro{
color: white;
margin-right: 630px;
font-family: 'lobster', cursive;
}
#boton_ini{
  font-family: 'lobster', cursive;
  font-size: 20px;
  color: white;
  } 
#productos{
  font-family: 'lobster', cursive;
  font-size: 20px;
  color: white;
  }
#contactos{
  font-family: 'lobster', cursive;
  font-size: 20px;
  color: white;
}

#buscar{
  font-family: 'Lobster', cursive;
}
#boton_busc{
  font-family: 'Lobster', cursive;
}
#TITULO{
font-family: 'Lobster', cursive;
font-size: 29px;
color: rgb(43, 49, 48);
}  

#subtituloh1{
font-size: 50px;
font-family:'Lora', serif;
color: rgb(35, 143, 245);
text-align: center;
}

.TitulosDos{
text-align: center;
margin: 0.5px;
color: rgb(255, 255, 255);
font-family: 'Lora', serif;
font-size: 40px;
margin-top: 15px;
background-color:  rgba(71, 100, 146);
}
.card-text{
font-size: 20px;
font-family:'Lora', serif;
}
.grid-container {
display: grid;
grid-template-columns: auto auto;
margin-top: 35px;
margin-left: 0.1em;
padding: 1%;

}
.grid-item {
font-size: 25px;
text-align: center;
font-family: 'Bad Script', cursive;
padding: 10px;
}

img{
  max-width: 100%;
  border-radius: 10px;
}

.parallaxUno {
background-color: rgba(17,24,39);
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.ListaGeneral{
margin: 10px;
font-size: 20px;
margin-bottom: -3px;
padding: 5px;
font-weight: 100;
font-family: 'Lora', serif;
margin-top: -7px;
color: rgb(255, 255, 255);
}
.hipervinculo{
  color: white;
  font-family:'Lora', serif;
}
.columnaDos{
  background-color: white
}
.columna{
  background-color: gray;
}
#navegador{
background-color:  rgba(71, 100, 146);
}
#card_torta{
  max-width: 1750px; 
  margin-top: -6px; 
  margin-left: 20px;
}
#imagenInicial{
  width: 800px; 
  height: 450px; 
  padding: 20px;
}
.linea_separacion{
  margin-top: 7em;
}
.creadores_web{
  height: 42px; 
  width: 1902px; 
  margin-top: -0.9em; 
  background-color:  rgba(71, 100, 146, 0.5);
  max-width: 100%;
}
.texto_creadores{
  margin-top: 2em; 
  color: rgb(255, 255, 255);
}
.Cantidad_persona{
  font-family:'Lora', serif;
}
a{
  border-radius: 40px;
}
