@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-color: rgb(87, 250, 196);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
#boton_ini{
font-family: 'lobster', cursive;
font-size: 20px;
color: white;
} 
#productos{
font-family: 'lobster', cursive;
font-size: 20px;
color: white;
}
#contactos{
font-family: 'lobster', cursive;
font-size: 20px;
color: white;
}
.ListaGeneral{
margin: 10px;
font-size: 20px;
margin-bottom: -3px;
padding: 5px;
font-weight: 100;
font-family: 'Lora', serif;
margin-top: -7px;
color: rgb(255, 255, 255);
}
#TITULO{
font-family: 'Lobster', cursive;
font-size: 29px;
color: rgb(43, 49, 48);
}  
.parallaxUno {
background-color: rgba(17,24,39);
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.TitulosDos{
text-align: center;
margin: 0.5px;
color: rgb(255, 255, 255);
font-family: 'Lora', serif;
font-size: 40px;
margin-top: 15px;
background-color:  rgba(71, 100, 146);
}
#navegador{
    background-color:  rgba(71, 100, 146);
}

.creadores_web{
height: 42px; 
width: 1902px; 
margin-top: -0.9em; 
background-color:  rgba(71, 100, 146, 0.5);
max-width: 100%;
}
.texto_creadores{
margin-top: 2em; 
color: rgb(255, 255, 255);
}
.TituloUno{
    text-align: center;    
    font-size: 50px;
    font-family:'Lora', serif;
    color: white;
    margin-top: 65px;
    }

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  .clasificacion label {
      font-size: 30px;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
