<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../CSS/Comunicaciones.css"/>
    <title>Comunicaciones</title>
</head>
<body>
    <nav class="container">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navegador">
            <svg id="logo" xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
            </svg>
            <a class="navbar-brand" id="TITULO">MisOfertas</a>          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="Menu.html" id="boton_ini">Menu<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="Valoralizaciones.html" id="productos">Valoralizaciones<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="Comunicaciones.html"  id="contactos">Comunicaciones<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" id="buscar">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="boton_busc">Buscar</button>
              </form>
            </div>
        </nav>
    </nav>

    <header>
        <h1 class="TituloUno">
            Comunicación
        </h1>

        <h1 class="subtitulo">
          Comuniquese con nosotros
        </h1>

      <section class="form-register" style="margin-bottom: 50px;">
        <h4>Formulario Registro</h4>
          <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
          <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
          <input class="controls" type="number" name="numero" id="numero" placeholder="Ingrese su Numero">
          <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1" style="font-family:'calibri'; font-size: 18px; border: 1px solid #1f53c5;">
              <option selected>Seleccione</option>
              <option>Reclamos</option>
              <option>Consultas</option>
              <option>Problemas con la sitio</option>
              <option>Otros..</option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Motivo de Solicitud" style="font-family:'calibri'; font-size: 18px;  border: 1px solid #1f53c5;"></textarea>
          </div>
          <input class="botons" type="submit" value="Enviar">
      </section>

      </div>

        </header>
            <div class="TitulosDos">
                <h1>
                 Contactanos
                </h1>
            </div>
            
            <div class="parallaxUno"> 
            <div class="ListaGeneral">
            <p><br>Ubicacion:</p>
            <ul>
            <li>
            Avenida Grecia #459
            </li>
            <li>
             Ñuñoa, Region Metropolitana
            </li>
            <li>
            Chile
            </li>
            </ul>
            </div>
            <div class="ListaGeneral">
            <p><br>Telefono:</p>
            <ul>
            <li>
            +56287956234
            </li>
            </ul>
            </div>
            <div class="ListaGeneral">
            <p><br>Envienos un correo electronico:</p>
            <ul>
            <li>
            MisOfertas@RetailOfertas.cl
            </li>
            </ul>
            </div>  
              <div class="creadores_web">
              <h6 class="texto_creadores">Desarrollo de paginas web (grupo 7) Duoc uc 2021 </h6>
          </div>
            </div>
</body>
</html>